.DS_Store
.htaccess
feathers/photo/lib/cache/* 
uploads/*                   
includes/config.yaml.php
includes/database.yaml.php  

# quanganhdo.com specific
themes/manifest/*
feathers/gist/*
modules/gists/*
modules/slimbox2/*
modules/wpautop/*
modules/upload/*